.agenda-controls-container {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;

  .agenda-results-controls {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding: 0 35px;

    div:first-child {
      margin-right: 10px;
    }

    div {
      align-items: baseline;
      display: flex;
    }
  }
}

.employee-search-filters-container {
  input {
    display: inline;
  }
  background-color: $bg-blue-dark-1;

  .hello-greeting {
    color: $color-white;
  };

  .homepage-search-legend {
    color: $color-white;
  }

  .empl-filters {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .filter-div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 310px;

      .label {
        color: $color-white;
        margin-right: 5px;
      }
    }

    .picky {
      width: 200px;
    }

    .split-filter-div {
      .picky {
        width: 100px;
      }
      .picky__dropdown {
        width: 200px;
      }
    }
  }
}