.agenda-controls-container {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;

  .agenda-results-controls {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding: 0 35px;

    div:first-child {
      margin-right: 10px;
    }

    div {
      align-items: baseline;
      display: flex;
    }
  }
}

.employee-agenda-search-button {
  border: 1px solid blue;
  padding: 1rem;

  a {
    text-decoration: none;
  }
}

.employee-ribbon-container {
  display: flex;

  div:nth-of-type(1) { flex: 3; }
    div:nth-of-type(2) { flex: 2; }

    .ribbon-container-condensed {
      position: absolute;
      margin-left: 28rem;
      top: 63px
      // right: -2px;
      // top: -1px;
      // z-index: $ribbon-condensed-card-z + 1;
    }
}
