.agenda-controls-container {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;

  .agenda-results-controls {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding: 0 35px;

    div:first-child {
      margin-right: 10px;
    }

    div {
      align-items: baseline;
      display: flex;
    }
  }
}

.employee-agenda-card-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

// IE11 fix for input text not displaying
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .employee-agenda-card-list {
    max-width: calc(100vw - 260px);
  }
}

.employee-agenda-card-container:last-child {
  flex-grow: 100;
}

.employee-agenda-card {
  border-top: 11px solid $primary-blue;
  display: flex;
  flex-direction: column;
  height: 350px;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 25px;
  width: 330px;

  a {
    display: inline-block;
  }

  h3 {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0 5px 0 0;
    text-decoration: underline;

    a {
      align-items: center;
      display: flex;
      font-size: 1.8rem;
      text-decoration: none;
    }

    .fa {
      font-size: 2.5rem;
      font-weight: bold;
      margin-left: 5px;
    }
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 5px;
  }
  
  .author-name {
    font-weight: 500;
  }

  .employee-agenda-card-top {
    display: flex;
    flex: 5;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
  }

  .employee-agenda-card-top-bottom {
    border-top: 1px solid $color-gray-lighter;
    display: flex;
    flex: 5;
    flex-direction: column;
    margin-top: -10px;
    padding-bottom: 20px;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px 16px 0;
      width: 100%;

      .updates {
        font-weight: bold;
        margin-bottom: 15px;
      }
    }

    > div:nth-child(2) {
      padding-bottom: 0;
    }
  }

  .employee-agenda-card-data-point-top {
    margin-bottom: 4rem;
    margin-top: .5rem;
  }
  
  .employee-card-data-point {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;

    .fa {
      padding: 3px 6px 3px 0;
    }

    .org-fa-arrow {
      padding: 0px 5px;
    }
  }

  .button-container {
    margin-top: 10px;

    span,
    a,
    button {
      margin: 0;
      margin-bottom: 0;
    }

    > span,
    > button {
      width: 48%;
    }

    a,
    button {
      font-size: .9em;
      padding: 10px 5px;
    }
  }
}

.employee-agenda-row-data-points {
  display: inline-grid;
  flex-flow: column wrap;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, auto);
  margin-left: 1.5rem;
}

.employee-agenda-row-data-point {
    display: flex;
    flex-direction: row;
    line-height: 1.3em;
    margin: 0 8rem .5rem 0;

    .fa {
      padding: 3px 6px 3px 0;
    }

    .org-fa-arrow {
      padding: 0px 5px;
    }
}

.employee-ribbon-container {
  display: flex;

  div:nth-of-type(1) { flex: 3; }
    div:nth-of-type(2) { flex: 2; }

    .ribbon-container-condensed {
      position: absolute;
      margin-left: 28rem;
      top: 66px
    }
}

.view-agenda-item-container {
  margin-right: 2rem;
  
  .view-agenda-item-button {
    background-color: $color-white;
    border: 1px solid $blue-primary;
    border-radius: 3px;
    color: $blue-primary;
    padding: 3px;
    text-align: center;
    width: 130px;

    .view-agenda-item-text{
      color: $blue-primary;
      text-decoration: none;
    }
  }
}

.create-pai-box-container {
  
  .create-pai-box-button {
    background-color: $blue-primary;
    border: 1px solid $blue-primary;
    border-radius: 3px;
    color: $color-white;
    font-size: 1.4rem;
    line-height: 37px;
    padding: 3px;
    text-align: center;
    width: 150px;
  }
}

.employee-agenda-row {
  border-left: 11px solid $primary-blue;
}

.employee-agenda-stat-row {
  border: 1px solid $color-gray-light;
  border-left: none;
  display: flex;
  flex-direction: column;
  padding: 12px 20px;

  > div:nth-child(2) {

    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
      margin-right: 1em;

      > .tm-avatar {
        font-size: 3rem;
        height: 65px;
        line-height: 6.5rem;
        width: 65px;
      }
    }

    > div:last-child {
      margin-right: 0;
    }

    // setup flex values
    > div:nth-child(1) {
      flex: 3 1 280px;
    }

    > div:nth-child(2) {
      display: flex;
      flex: 6 0 100px;
    }

    > div:nth-child(3) {
      flex: 8 0 225px;
      padding-top: 1em;

      > span {
        display: flex;
      }
    }

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
      > div:nth-child(3) {
        flex: 8 0 50%;
      }
    }
  }

  .employee-agenda-row-name {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: .3rem;

    a {
      font-size: .9em;
      font-weight: normal;
      margin-left: 15px;
    }
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 5px;
  }

  .employee-row-data-point {
    display: flex;
    flex-direction: row;
    line-height: 1.3em;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;

    > span {
      margin-right: 10px;
    }

    span,
    a,
    button {
      margin: 0;
      margin-bottom: 0;
    }

    .link-button-wrapper {
      margin-right: 10px;
    }
  }
}