.swal-modal.modal-1300 {
  width: 1000px;
}

.swal-modal.modal-700 {
  width: 700px;
}

.swal-modal.modal-700-long {
  width: 700px;
  height: 100%;
}

@media screen and (min-width: 1350px) {
  .swal-modal.modal-1300 {
    width: 1300px;
  }
}

.swal-content {
  position: relative;

  .modal-close-icon {
    color: $alert-red;
    font-size: 2.2rem;
    position: absolute;
    right: 20px;
    top: -84px;
  }
}

// Custom TMAP Modal
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, .4);
  z-index: 10000;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.asg-modal-container {
  width: 1200px;
  max-width: calc(100vw - 100px);
  max-height: calc(100vh - 100px);
  font-size: 1.2rem;
  border-radius: 1rem;
  pointer-events: auto;
  overflow-y: auto;

  .tabbed-card {
    margin-block: 0px;
  }

  .position-number-container {
    display: flex;
    align-items: baseline;
    width: 100%;
    .input-default {
      background-color: $color-white;
      border: 1px solid $bg-gray-dark-2;
    }
    .input-error {
       background-color: $color-red-lightest;
       border: 1px solid $color-red;
    }
    .add-pos-num-icon {
      color: $primary-blue;
      margin-left: -25px;
      position: relative;
      top: 1px
    }
    .add-pos-num-icon:hover {
      color: $primary-blue-darkest;
    }
    .fa {
      padding-left: 0px;
    }
  }
}

.month-year-input-error {
  border: 0.1rem solid red;
}

.modal-open {
  height: 100vh;
  overflow-y: hidden;
}
