.swal-modal.modal-1300 {
  width: 1000px;
}
.swal-modal.modal-700 {
  width: 700px;
}
.swal-modal.modal-700-long {
  width: 700px;
  height: 100%;
}

@media screen and (min-width: 1350px) {
  .swal-modal.modal-1300 {
    width: 1300px;
  }
}

.swal-content {
  position: relative;

  .modal-close-icon {
    color: $alert-red;
    font-size: 2.2rem;
    position: absolute;
    right: 20px;
    top: -84px;
  }
}

// Custom TMAP Modal
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, .4);
  z-index: 10000;
  pointer-events: none;
}

.asg-modal-container {
  width: 50vw;
  padding: 0 1.5rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  margin: auto;
  margin-top: 20vh;
  pointer-events: auto;
}

.month-year-input-error {
  border: 0.1rem solid red;
}

.modal-open {
  height: 100vh;
  overflow-y: hidden;
}
